<p id="notice"><%= notice %></p>

<p>
  <strong>Emp:</strong>
  <%= @point.emp_id %>
</p>

<p>
  <strong>Age ad:</strong>
  <%= @point.age_ad %>
</p>

<p>
  <strong>Isms:</strong>
  <%= @point.isms %>
</p>

<p>
  <strong>Health:</strong>
  <%= @point.health %>
</p>

<p>
  <strong>Small group:</strong>
  <%= @point.small_group %>
</p>

<p>
  <strong>Eval mgm:</strong>
  <%= @point.eval_mgm %>
</p>

<p>
  <strong>Eval tec:</strong>
  <%= @point.eval_tec %>
</p>

<p>
  <strong>Adjustment:</strong>
  <%= @point.adjustment %>
</p>

<p>
  <strong>Is short work:</strong>
  <%= @point.is_short_work %>
</p>

<p>
  <strong>Overtime:</strong>
  <%= @point.overtime %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
