<p id="notice"><%= notice %></p>

<p>
  <strong>Eval name:</strong>
  <%= @evaluation_std_val.eval_name %>
</p>

<p>
  <strong>Eval val:</strong>
  <%= @evaluation_std_val.eval_val %>
</p>

<%= link_to 'Edit', edit_evaluation_std_val_path(@evaluation_std_val) %> |
<%= link_to 'Back', evaluation_std_vals_path %>
