<%= form_with(model: point, local: true) do |form| %>
  <% if point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
      <% point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :age_ad %>
    <%= form.number_field :age_ad %>
  </div>

  <br>

  <div class="field">
    <%= form.label :isms %>
    <%= form.number_field :isms %>
  </div>

  <br>

  <div class="field">
    <%= form.label :health %>
    <%= form.number_field :health %>
  </div>

  <br>

  <div class="field">
    <%= form.label :small_group %>
    <%= form.number_field :small_group %>
  </div>

  <br>

  <div class="field">
    <%= form.label :eval_mgm %>
    <%= form.number_field :eval_mgm %>
  </div>

  <br>

  <div class="field">
    <%= form.label :eval_tec %>
    <%= form.number_field :eval_tec %>
  </div>

  <br>

  <div class="field">
    <%= form.label :adjustment %>
    <%= form.number_field :adjustment %>
  </div>

  <br>

  <div class="field">
    <%= form.label :is_short_work %>
    <%= form.check_box :is_short_work %>
  </div>

  <br>

  <div class="field">
    <%= form.label :overtime %>
    <%= form.number_field :overtime %>
  </div>

  <br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
