<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <!-- need exists judge -->
  <div class="field">
    <%= form.label :社員番号 %>
    <%= form.text_field :emp_id %>
  </div>

  <br>

  <div class="field">
    <%= form.label :名前 %>
    <%= form.text_field :name %>
  </div>

  <br>

  <div class="field">
    <%= form.label :生年月日 %>
    <%= form.date_select :birth, :start_year=>1950, :end_year=>2018 %>
  </div>

  <br>

  <div class="field">
    <%= form.label :年齢 %>
    <%= form.number_field :age, :min=>1, :max=>100 %>
  </div>

  <br>

  <div class="field">
    <%= form.label :支社 %>
    <%= form.select :branch, ["福岡", "東京", "北九州"]%>
  </div>

  <br>

  <div class="field">
    <%= form.label :部署 %>
    <%= form.select :department, ["F-Labo", "Growth Hack Ata", "Game Studio", "Teqbase"]%>
  </div>

  <br>

  <div class="field">
    <%= form.label :職種 %>
    <%= form.select :task, ["開発", "管理", '営業', "人事調達"]%>
  </div>

  <br>

  <div class="field">
    <%= form.label :住居 %>
    <%= form.select :residence, ["福岡・北九州", "東京"]%>
  </div>

  <br>

  <div class="field">
    <%= form.label :扶養家族数：配偶者 %>
    <%= form.number_field :fam_spouse, :min=>0, :max=>1 %>
  </div>

  <br>

  <div class="field">
    <%= form.label :扶養家族数子：18迄 %>
    <%= form.number_field :fam_except_spouse, :min=>0, :max=>9 %>
  </div>

  <br>

  <div class="field">
    <%= form.label :職位 %>
    <%= form.select :position, ['統括部長', '部長', '次長', "マネージャー", "アシスタントマネージャー",
      "リーダー", "アシスタントリーダー", "一般社員", "第２新人", "新人"]%>
  </div>

<br>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
