<p id="notice"><%= notice %></p>

<p>
  <strong>Emp:</strong>
  <%= @employee.emp_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @employee.birth %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<p>
  <strong>Judgment:</strong>
  <%= @employee.judgment %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Task:</strong>
  <%= @employee.task %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @employee.residence %>
</p>

<p>
  <strong>Fam spouse:</strong>
  <%= @employee.fam_spouse %>
</p>

<p>
  <strong>Fam except spouse:</strong>
  <%= @employee.fam_except_spouse %>
</p>

<p>
  <strong>Position:</strong>
  <%= @employee.position %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
