<p id="notice"><%= notice %></p>

<p>
  <strong>Emp:</strong>
  <%= @employee.emp_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @employee.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @employee.age %>
</p>

<p>
  <strong>Birth:</strong>
  <%= @employee.birth %>
</p>

<p>
  <strong>Residence:</strong>
  <%= @employee.residence %>
</p>

<p>
  <strong>Family:</strong>
  <%= @employee.family %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Rank:</strong>
  <%= @employee.rank %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
