<%= form_with(model: salary, local: true) do |form| %>
  <% if salary.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(salary.errors.count, "error") %> prohibited this salary from being saved:</h2>

      <ul>
      <% salary.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :"番号" %>
    <%= form.text_field :emp_id %>
  </div>

  <div class="field">
    <%= form.label :"基準給与" %>
    <%= form.number_field :standard_sal %>
  </div>

  <div class="field">
    <%= form.label :"職能給 (基準)" %>
    <%= form.number_field :ability_sal %>
  </div>

  <div class="field">
    <%= form.label :"役職手当" %>
    <%= form.number_field :position_sal %>
  </div>

  <div class="field">
    <%= form.label :"職務手当" %>
    <%= form.number_field :task_sal %>
  </div>

  <div class="field">
    <%= form.label :"精勤手当" %>
    <%= form.number_field :praise_sal %>
  </div>

  <div class="field">
    <%= form.label :"首都圏手当" %>
    <%= form.number_field :residence_spt_sal %>
  </div>

  <div class="field">
    <%= form.label :"基本給" %>
    <%= form.number_field :basic_sal %>
  </div>

  <div class="field">
    <%= form.label :"時間単価" %>
    <%= form.number_field :hour_sal %>
  </div>

  <div class="field">
    <%= form.label :"残業単価" %>
    <%= form.number_field :over_hour_sal %>
  </div>

  <div class="field">
    <%= form.label :"定額残業代 "%>
    <%= form.number_field :over_sal %>
  </div>

  <div class="field">
    <%= form.label :"家族手当" %>
    <%= form.number_field :fam_sal %>
  </div>

  <div class="field">
    <%= form.label :"額面給与" %>
    <%= form.number_field :total_sal %>
  </div>

  <div class="field">
    <%= form.label :"2018下期給与" %>
    <%= form.number_field :last_total_sal %>
  </div>

  <div class="field">
    <%= form.label :"差額" %>
    <%= form.number_field :diff_total_sal %>
  </div>

  <div class="field">
    <%= form.label :"昇給率" %>
    <%= form.text_field :rate %>
  </div>

  <div class="field">
    <%= form.label :"昨年時給" %>
    <%= form.number_field :last_hour_sal %>
  </div>

  <div class="field">
    <%= form.label :"時給差額" %>
    <%= form.number_field :diff_hour_sal %>
  </div>

  <div class="field">
    <%= form.label :"昨昇給率" %>
    <%= form.text_field :last_rate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
