<p id="notice"><%= notice %></p>

<p>
  <strong>Emp:</strong>
  <%= @salary.emp_id %>
</p>

<p>
  <strong>Standard sal:</strong>
  <%= @salary.standard_sal %>
</p>

<p>
  <strong>Ability sal:</strong>
  <%= @salary.ability_sal %>
</p>

<p>
  <strong>Position sal:</strong>
  <%= @salary.position_sal %>
</p>

<p>
  <strong>Task sal:</strong>
  <%= @salary.task_sal %>
</p>

<p>
  <strong>Praise sal:</strong>
  <%= @salary.praise_sal %>
</p>

<p>
  <strong>Residence spt sal:</strong>
  <%= @salary.residence_spt_sal %>
</p>

<p>
  <strong>Basic sal:</strong>
  <%= @salary.basic_sal %>
</p>

<p>
  <strong>Hour sal:</strong>
  <%= @salary.hour_sal %>
</p>

<p>
  <strong>Over hour sal:</strong>
  <%= @salary.over_hour_sal %>
</p>

<p>
  <strong>Over sal:</strong>
  <%= @salary.over_sal %>
</p>

<p>
  <strong>Fam sal:</strong>
  <%= @salary.fam_sal %>
</p>

<p>
  <strong>Total sal:</strong>
  <%= @salary.total_sal %>
</p>

<p>
  <strong>Last total sal:</strong>
  <%= @salary.last_total_sal %>
</p>

<p>
  <strong>Diff total sal:</strong>
  <%= @salary.diff_total_sal %>
</p>

<p>
  <strong>Rate:</strong>
  <%= @salary.rate %>
</p>

<p>
  <strong>Last hour sal:</strong>
  <%= @salary.last_hour_sal %>
</p>

<p>
  <strong>Diff hour sal:</strong>
  <%= @salary.diff_hour_sal %>
</p>

<p>
  <strong>Last rate:</strong>
  <%= @salary.last_rate %>
</p>

<%= link_to 'Edit', edit_salary_path(@salary) %> |
<%= link_to 'Back', salaries_path %>
