<%= form_with(model: top, local: true) do |form| %>
  <% if top.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(top.errors.count, "error") %> prohibited this top from being saved:</h2>

      <ul>
      <% top.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ID %>
    <%= form.text_field :emp_id %>
  </div>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :age %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :pay %>
    <%= form.number_field :pay %>
  </div>

<div class="field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="actions">
    <input type="submit" name="commit" value="Add" data-disable-with="Create Top" />
  </div>
<% end %>
