<p id="notice"><%= notice %></p>


<% @branch = params[:branch] %>
<% @department = params[:department] %>
<% @department = params[:task] %>
<% @emp_id = params[:emp_id] %>

<!-- Menu Bar -->

<nav id="topMenu">
    <ul>
        <li class="topMenuLi">
            <a class="menuLink" href="/employees">Edit Employee</a>          
        </li>

        <li>|</li>

        <li class="topMenuLi">
            <a class="menuLink" href="">Edit Column</a>
            <ul class="submenu">
                <li>
                    <a class="submenuLink">Standard</a>
                </li>
                <li>
                    <a class="submenuLink">Point</a>
                </li>
                <li>
                    <a class="submenuLink">Salary</a>
                </li>             
            </ul>    
        </li>
            
    </ul>
</nav>

<div class="title">Home</div>

<div class="search">
    <form method="get" action="/results">
        <h3>Branch : </h3>
        <select name='branch'>
            <option value='all' selected>All</option>
            <option value='kitakyushu'>Kitakyushu</option>
            <option value='tokyo'>Tokyo</option>
            <option value='fukuoka'>Fukuoka</option>          
        </select>
        
        <h3>Department : </h3>
        <select name='department'>
            <option value='all' selected>All</option>
            <option value='A'>A</option>
            <option value='B'>B</option>
            <option value='C'>C</option>          
        </select>

	<h3>Task : </h3>
        <select name='department'>
            <option value='all' selected>All</option>
            <option value='development'>Development</option>
            <option value='management'>Management</option>
            <option value='human_resource'>Human Resource</option>          
        </select>

        <h3>ID : </h3>
        <input type="text" name="emp_id" value="ALL">		
        <h3>
	<input type="submit" value="Search" style="margin-top: 50px; padding: 10px 20px;">
	</h3>      
    </form> 
</div>

<!-- Search, Results -->

<table class = "type10" align="center">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Birth</th>
            <th>Residence</th>        
            <th>Branch</th>  
            <th>Department</th>          
        </tr>
    </thead>

    
    <% if params[:emp_id] == "ALL" %>
        <% @employees.each do |employee| %>
        <tbody>
            <tr>
                <td><%= employee.emp_id %></td>
                <td><%= employee.name %></td>
                <td><%= employee.age %></td>
                <td><%= employee.birth %></td>                
                <td><%= employee.residence %></td>
	        <td><%= employee.branch %></td>                
                <td><%= employee.department %></td>                            
            </tr>     
        </tbody>    
        <% end %>
    <% end %>
       
    <% @employees.each do |employee| %>
        <% if not employee.emp_id == params[:emp_id] %>               
            <% next %>
        <% end %>
        <tbody>
            <tr>
                <td><%= employee.emp_id %></td>
                <td><%= employee.name %></td>
                <td><%= employee.age %></td>
                <td><%= employee.birth %></td>                
                <td><%= employee.residence %></td>
	        	<td><%= employee.branch %></td>                
                <td><%= employee.department %></td>                            
            </tr>     
        </tbody>    
    <% end %>              
</table>
