<p id="notice"><%= notice %></p>

<div class="title">Home</div>


<div class="search">
    <form method="get" action="/results">
        <h3>Branch : </h3>
        <select name='branch'>
            <option value='ALL' selected>ALL</option>
            <option value='Fukuoka'>Fukuoka</option>
            <option value='Kitakyushu'>Kitakyushu</option>
            <option value='Tokyo'>Tokyo</option>
        </select>

        <h3>Department : </h3>
        <select name='department'>
            <option value='ALL' selected>ALL</option>
            <option value='F-Labo'>F-Labo</option>
            <option value='Growth Hack Ata'>Growth Hack Ata</option>
            <option value='Game Studio'>Game Studio</option>
            <option value='Teqbase'>Teqbase</option>
        </select>

        <h3>Task : </h3>
        <select name='task'>
            <option value='ALL' selected>ALL</option>
            <option value='Development'>Development</option>
            <option value='Management'>Management</option>
            <option value='Sales'>Sales</option>
            <option value='Human Resource'>Human Resource</option>
        </select>

        <h3>ID : </h3>
        <input type="text" name="emp_id" value="ALL">

        <br>
        <h3><input type="submit" value="Search" style="margin: 50px 0px 0px -30px; padding: 10px 20px; cursor:pointer"></h3>


<!-- search option -->

        <details class="search_option">
            <summary style="cursor:pointer; width: 100px; margin: 0px auto 0px auto">Search Option</summary>
            <div style="text-align:center; width: 700px; margin: 0px auto 0px auto; padding-left: 100px">
                <ul style="text-align:left">
                <b>Employee</b>
                <br />
                <input type="checkbox" name="employee_option_list[]" value="name" checked="checked"/> Name
                <br />
                <input type="checkbox" name="employee_option_list[]" value="age" checked="checked"/> Age
                <br />
                <input type="checkbox" name="employee_option_list[]" value="birth"/> Birth
                <br />
                <input type="checkbox" name="employee_option_list[]" value="judgment"/> Judgment
                <br />
                <input type="checkbox" name="employee_option_list[]" value="residence"/> Residence
                <br />
                <input type="checkbox" name="employee_option_list[]" value="fam_spouse"/> Family Spouse
                <br />
                <input type="checkbox" name="employee_option_list[]" value="fam_except_spouse"/> Family Except Spouse
                <br />
                <input type="checkbox" name="employee_option_list[]" value="branch" checked="checked"/> Branch
                <br />
                <input type="checkbox" name="employee_option_list[]" value="department" checked="checked"/> Department
                <br />
                <input type="checkbox" name="employee_option_list[]" value="task" checked="checked"/> Task
                <br />
                <input type="checkbox" name="employee_option_list[]" value="position" checked="checked"/> Position
                <br />
                </ul>

                <ul style="text-align:left">
                <b>Point</b>
                <br />
                <input type="checkbox" name="point_option_list[]" value="age_ad"/> Age Adjust
                <br />
                <input type="checkbox" name="point_option_list[]" value="isms"/> ISMS
                <br />
                <input type="checkbox" name="point_option_list[]" value="health"/> Healty
                <br />
                <input type="checkbox" name="point_option_list[]" value="small_group"/> Small Group
                <br />
                <input type="checkbox" name="point_option_list[]" value="eval_mgm"/> Evaluation Management
                <br />
                <input type="checkbox" name="point_option_list[]" value="eval_tec"/> Evaluation Technology
                <br />
                <input type="checkbox" name="point_option_list[]" value="adjustment"/> Adjustment
                <br />
                <input type="checkbox" name="point_option_list[]" value="is_short_work"/> Short Work
                <br />
                <input type="checkbox" name="point_option_list[]" value="overtime"/> Overtime
                <br />
                </ul>

                <ul style="text-align:left">
                <b>Salary</b>
                <br />
                <input type="checkbox" name="salary_option_list[]" value="standard_sal" checked="checked"/> Standard Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="ability_sal" checked="checked"/> Ability Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="position_sal" checked="checked"/> Position Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="task_sal" checked="checked"/> Task Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="praise_sal" checked="checked"/> Praise Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="residence_spt_sal" /> Residence Support Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="basic_sal" checked="checked"/> Basic Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="hour_sal"/> Hour Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="over_hour_sal"/> Over Hour Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="over_sal" checked="checked"/> Over Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="fam_sal"/> Family Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="total_sal" checked="checked"/> Total Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="last_total_sal"/> Last Total Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="diff_total_sal"/> Difference Total Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="rate" checked="checked"/> Rate
                <br />
                <input type="checkbox" name="salary_option_list[]" value="last_hour_sal"/> Last Hour Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="diff_hour_sal"/> Difference Hour Salary
                <br />
                <input type="checkbox" name="salary_option_list[]" value="last_rate"/> Last Rate
                <br />
                </ul>
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </details>
        <br>
    </form>
</div>


<!-- Search, Results

<%= @results.columns %> -->

<% if !(@results.exists?) %>
    <h1 style="text-align: center">No Matching Data<h1>
<% else %>

<table class="result" align="center">
    <thead>
        <tr>
            <th>EMPLOYEE ID</th>
            <% if !(@employee_option_list == nil) %>
                <% @employee_option_list.each do |column| %>
                    <th><%= column.upcase %></th>
                <% end %>
            <% end %>
            <% if !(@point_option_list == nil) %>
                <% @point_option_list.each do |column| %>
                    <th><%= column.upcase %></th>
                <% end %>
            <% end %>
            <% if !(@salary_option_list == nil) %>
                <% @salary_option_list.each do |column| %>
                    <th><%= column.upcase %></th>
                <% end %>
            <% end %>
        </tr>
    </thead>
    <% @results.each do |result| %>
    <tbody>
        <tr>
            <td><%= result['emp_id'] %></td>
            <% if !(@employee_option_list == nil) %>
                <% @employee_option_list.each do |column| %>
                    <td><%= result[column] %></td>
                <% end %>
            <% end %>
            <% if !(@point_option_list == nil) %>
                <% @point_option_list.each do |column| %>
                    <td><%= result.point[column] %></td>
                <% end %>
            <% end %>
            <% if !(@salary_option_list == nil) %>
                <% @salary_option_list.each do |column| %>
                    <td>
                        <%= result.salary[column] %>
                        <% if column == "rate" || column == "last_rate" %>
                            %
                        <% else %>
                            &yen;
                        <% end %>
                    </td>
                <% end %>
            <% end %>
        </tr>
    </tbody>
    <% end %>
</table>
<% end %>
