<p id="notice"><%= notice %></p>


<% @branch = params[:branch] %>
<% @department = params[:department] %>
<% @task = params[:task] %>
<% @emp_id = params[:emp_id] %>


<div class="title">Home</div>

<div class="search">
    <form method="get" action="/results">
        <h3>Branch : </h3>
        <select name='branch'>
            <option value='ALL' selected>All</option>
            <option value='Kitakyushu'>Kitakyushu</option>
            <option value='Tokyo'>Tokyo</option>
            <option value='Fukuoka'>Fukuoka</option>
        </select>

        <h3>Department : </h3>
        <select name='department'>
            <option value='ALL' selected>All</option>
            <option value='F-Labo'>F-Labo</option>
            <option value='Growth Hack Ata'>Growth Hack Ata</option>
            <option value='Game Studio'>Game Studio</option>
            <option value='Teqbase'>Teqbase</option>
        </select>

        <h3>Task : </h3>
        <select name='task'>
            <option value='ALL' selected>All</option>
            <option value='Development'>Development</option>
            <option value='Management'>Management</option>
            <option value='Human Resource'>Human Resource</option>
        </select>

        <h3>ID : </h3>
        <input type="text" name="emp_id" value="ALL">
        <br>
        <h3>
      	<input type="submit" value="Search" style="margin-top: 50px; padding: 10px 20px;">
      	</h3>
    </form>
</div>
<!-- Search, Results -->

<% sql_select = "SELECT * " %>
<% sql_from = "FROM employees" %>
<% sql_where = " WHERE " %>
<% is_all  = true %>

<% if not params[:branch] == "ALL" %>
    <% sql_where << "branch = " + "'" + @branch + "', "  %>
    <% is_all = false %>
<% end %>

<% if not params[:department] == "ALL" %>
    <% sql_where << "department = " + "'" + @department + "', "  %>
    <% is_all = false %>
<% end %>

<% if not params[:task] == "ALL" %>
    <% sql_where << "task = " + "'" + @task + "', "  %>
    <% is_all = false %>
<% end %>

<% if not params[:emp_id] == "ALL" %>
    <% sql_where << "emp_id = " + "'" + @emp_id + "', "  %>
    <% is_all = false %>
<% end %>

<% if is_all %>
    <% sql_where.clear %>
<% else %>
    <% sql_where = sql_where[0...-2] %>
<% end %>

<% sql = sql_select + sql_from + sql_where %>

<%= sql %>



<% results = Employee.joins(:point, :salary).connection.select_all("select * from employees right outer join points on employees.emp_id = points.emp_id") %>

<% if results.empty? %>
    <h1 style="text-align: center">No Matching Data<h1>
<% else %>

<table class = "type10" align="center">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Birth</th>
            <th>Residence</th>
            <th>Branch</th>
            <th>Department</th>
            <th>Task</th   >
            <th>Position</th>
            <th>Judgment</th>
            <th>Fam Spouse</th>
            <th>Fam Except Spouse</th>
            <th>ISMS</th>
        </tr>
    </thead>
    <% results.each do |result| %>
    <tbody>
        <tr>
            <td><%= result['emp_id'] %></td>
            <td><%= result['name'] %></td>
            <td><%= result['age'] %></td>
            <td><%= result['birth'] %></td>
            <td><%= result['residence'] %></td>
            <td><%= result['branch'] %></td>
            <td><%= result['department'] %></td>
            <td><%= result['task'] %></td>
            <td><%= result['position'] %></td>
            <td><%= result['judgment'] %></td>
            <td><%= result['fam_spouse'] %></td>
            <td><%= result['fam_except_spouse'] %></td>
            <td><%= result['isms'] %></td>
        </tr>
    </tbody>
    <% end %>
</table>
<% end %>
