<p id="notice"><%= notice %></p>


<div class="title">Home</div>

<div class="search">
    <form method="get" action="/results">
        <h3>Branch : </h3>
        <select name='branch'>
            <option value='ALL' selected>All</option>
            <option value='Kitakyushu'>Kitakyushu</option>
            <option value='Tokyo'>Tokyo</option>
            <option value='Fukuoka'>Fukuoka</option>
        </select>

        <h3>Department : </h3>
        <select name='department'>
            <option value='ALL' selected>All</option>
            <option value='F-Labo'>F-Labo</option>
            <option value='Growth Hack Ata'>Growth Hack Ata</option>
            <option value='Game Studio'>Game Studio</option>
            <option value='Teqbase'>Teqbase</option>
        </select>

        <h3>Task : </h3>
        <select name='task'>
            <option value='ALL' selected>All</option>
            <option value='Development'>Development</option>
            <option value='Management'>Management</option>
            <option value='Human Resource'>Human Resource</option>
        </select>

        <h3>ID : </h3>
        <input type="text" name="emp_id" value="ALL">

        <br>
        <h3><input type="submit" value="Search" style="margin: 50px 0px 0px -30px; padding: 10px 20px; cursor:pointer"></h3>
    </form>
</div>

<!-- search option -->

<details class="search_option">
    <summary style="cursor:pointer">Search Option</summary>
    <div style="text-align:left">
        <ul class="">
        <b>Employee</b>
        <br />
        <input type="checkbox" name="box1" /> Employee ID
        <br />
        <input type="checkbox" name="box1" /> Branch
        <br />
        <input type="checkbox" name="box1" /> Name
        <br />
        <input type="checkbox" name="box1" /> Birth
        <br />
        <input type="checkbox" name="box1" /> Age
        <br />
        <input type="checkbox" name="box1" /> Judgment
        <br />
        <input type="checkbox" name="box1" /> Task
        <br />
        <input type="checkbox" name="box1" /> Department
        <br />
        <input type="checkbox" name="box1" /> Residence
        <br />
        <input type="checkbox" name="box1" /> Family spouse
        <br />
        <input type="checkbox" name="box1" /> Family except spouse
        <br />
        <input type="checkbox" name="box1" /> Position
        <br />
        </ul>

        <ul>
        <b>Point</b>
        <br />
        <input type="checkbox" name="box1" /> Employee ID
        <br />
        <input type="checkbox" name="box1" /> Age adjust
        <br />
        <input type="checkbox" name="box1" /> ISMS
        <br />
        <input type="checkbox" name="box1" /> Healty
        <br />
        <input type="checkbox" name="box1" /> Small group
        <br />
        <input type="checkbox" name="box1" /> Evaluation management
        <br />
        <input type="checkbox" name="box1" /> Evaluation technology
        <br />
        <input type="checkbox" name="box1" /> Adjustment
        <br />
        <input type="checkbox" name="box1" /> Short work
        <br />
        <input type="checkbox" name="box1" /> Over time
        <br />
        </ul>

        <ul>
        <b>Salary</b>
        <br />
        <input type="checkbox" name="box1" /> Employee ID
        <br />
        <input type="checkbox" name="box1" /> Standard salary
        <br />
        <input type="checkbox" name="box1" /> Ability salary
        <br />
        <input type="checkbox" name="box1" /> Position salary
        <br />
        <input type="checkbox" name="box1" /> Task salary
        <br />
        <input type="checkbox" name="box1" /> Praise salary
        <br />
        <input type="checkbox" name="box1" /> Residence support salary
        <br />
        <input type="checkbox" name="box1" /> Basic salary
        <br />
        <input type="checkbox" name="box1" /> Hour salary
        <br />
        <input type="checkbox" name="box1" /> Over hour salary
        <br />
        <input type="checkbox" name="box1" /> Over salary
        <br />
        <input type="checkbox" name="box1" /> Family salary
        <br />
        <input type="checkbox" name="box1" /> Total salary
        <br />
        <input type="checkbox" name="box1" /> Last total salary
        <br />
        <input type="checkbox" name="box1" /> Difference total salary
        <br />
        <input type="checkbox" name="box1" /> Rate
        <br />
        <input type="checkbox" name="box1" /> Last hour salary
        <br />
        <input type="checkbox" name="box1" /> Difference hour salary
        <br />
        <input type="checkbox" name="box1" /> Last rate
        <br />
        </ul>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</details>

<br>

<!-- Search, Results -->


<% if not @results.exists? %>
    <h1 style="text-align: center">No Matching Data<h1>
<% else %>

<table class = "type10" align="center">
    <thead>
        <tr>
            <th>Employee ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Birth</th>
            <th>Residence</th>
            <th>Branch</th>
            <th>Department</th>
            <th>Task</th   >
            <th>Position</th>
            <th>Judgment</th>
            <th>Fam Spouse</th>
            <th>Fam Except Spouse</th>
            <th>ISMS</th>
        </tr>
    </thead>
    <% @results.each do |result| %>
    <tbody>
        <tr>
            <td><%= result['emp_id']%></td>
            <td><%= result['name'] %></td>
            <td><%= result['age'] %></td>
            <td><%= result['birth'] %></td>
            <td><%= result['residence'] %></td>
            <td><%= result['branch'] %></td>
            <td><%= result['department'] %></td>
            <td><%= result['task'] %></td>
            <td><%= result['position'] %></td>
            <td><%= result['judgment'] %></td>
            <td><%= result['fam_spouse'] %></td>
            <td><%= result['fam_except_spouse'] %></td>
            <td><%= result['isms'] %></td>
        </tr>
    </tbody>
    <% end %>
</table>
<% end %>
