<p id="notice"><%= notice %></p>

<h1>Evaluation Std Vals</h1>

<table>
  <thead>
    <tr>
      <th>Eval name</th>
      <th>Eval val</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluation_std_vals.each do |evaluation_std_val| %>
      <tr>
        <td><%= evaluation_std_val.eval_name %></td>
        <td><%= evaluation_std_val.eval_val %></td>
        <td><%= link_to 'Show', evaluation_std_val %></td>
        <td><%= link_to 'Edit', edit_evaluation_std_val_path(evaluation_std_val) %></td>
        <td><%= link_to 'Destroy', evaluation_std_val, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Evaluation Std Val', new_evaluation_std_val_path %>
