

<p id="notice"><%= notice %></p>

<h1 class="title">社員給料</h1>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>社員番号</th>
      <th>基準給与</th>
      <th>職能給</th>
      <th>役職手当</th>
      <th>職務手当</th>
      <th>精勤手当</th>
      <th>家賃助成金</th>
      <th>首都圏手当</th>
      <th>基本給</th>
      <th>時間単価</th>
      <th>残業単価</th>
      <th>定額残業代</th>
      <th>家族手当</th>
      <th>額面給与</th>
      <th>下期給与</th>
      <th>差額</th>
      <th>昇給率</th>
      <th>昨年時給</th>
      <th>時給差額</th>
      <th>昨昇給率</th>
    </tr>
  </thead>

  <tbody>
    <% @salaries.each do |salary| %>
      <tr>
        <td><%= salary.emp_id %></td>
        <td>&yen; <%= number_with_precision(salary.standard_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.ability_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.position_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.task_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.praise_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.residence_spt_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.capital_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.basic_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.hour_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.over_hour_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.over_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.fam_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.total_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.last_total_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.diff_total_sal, :precision => 0, :delimiter => ',') %></td>
        <td><%= salary.rate %> %</td>
        <td>&yen; <%= number_with_precision(salary.last_hour_sal, :precision => 0, :delimiter => ',') %></td>
        <td>&yen; <%= number_with_precision(salary.diff_hour_sal, :precision => 0, :delimiter => ',') %></td>
        <td><%= salary.last_rate %> %</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= number_with_precision(@number, :precision => 2, :delimiter => ',') %>

<button class="center" onclick="javascript:history.back()">バック</button>
