<p id="notice"><%= notice %></p>

<h1 class="title">Employee Salary</h1>
<br>
<br>
<table>
  <thead>
    <tr>
      <th>Emp</th>
      <th>Standard sal</th>
      <th>Ability sal</th>
      <th>Position sal</th>
      <th>Task sal</th>
      <th>Praise sal</th>
      <th>Residence spt sal</th>
      <th>Basic sal</th>
      <th>Hour sal</th>
      <th>Over hour sal</th>
      <th>Over sal</th>
      <th>Fam sal</th>
      <th>Total sal</th>
      <th>Last total sal</th>
      <th>Diff total sal</th>
      <th>Rate</th>
      <th>Last hour sal</th>
      <th>Diff hour sal</th>
      <th>Last rate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @salaries.each do |salary| %>
      <tr>
        <td><%= salary.emp_id %></td>
        <td><%= salary.standard_sal %></td>
        <td><%= salary.ability_sal %></td>
        <td><%= salary.position_sal %></td>
        <td><%= salary.task_sal %></td>
        <td><%= salary.praise_sal %></td>
        <td><%= salary.residence_spt_sal %></td>
        <td><%= salary.basic_sal %></td>
        <td><%= salary.hour_sal %></td>
        <td><%= salary.over_hour_sal %></td>
        <td><%= salary.over_sal %></td>
        <td><%= salary.fam_sal %></td>
        <td><%= salary.total_sal %></td>
        <td><%= salary.last_total_sal %></td>
        <td><%= salary.diff_total_sal %></td>
        <td><%= salary.rate %></td>
        <td><%= salary.last_hour_sal %></td>
        <td><%= salary.diff_hour_sal %></td>
        <td><%= salary.last_rate %></td>
        <td><%= link_to 'Show', salary %></td>
        <td><%= link_to 'Edit', edit_salary_path(salary) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="center"><%= link_to 'Back', homes_path %></button>
