<%= form_with(model: point, local: true) do |form| %>
  <% if point.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(point.errors.count, "error") %> prohibited this point from being saved:</h2>

      <ul>
      <% point.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :番号 %>
    <%= form.text_field :emp_id %>
  </div>

  <div class="field">
    <%= form.label :年齢調整 %>
    <%= form.number_field :age_ad %>
  </div>

  <div class="field">
    <%= form.label :ISMS %>
    <%= form.number_field :isms %>
  </div>

  <div class="field">
    <%= form.label :安全衛生委員 %>
    <%= form.number_field :health %>
  </div>

  <div class="field">
    <%= form.label :小集団 %>
    <%= form.number_field :small_group %>
  </div>

  <div class="field">
    <%= form.label :経営評価 %>
    <%= form.number_field :eval_mgm %>
  </div>

  <div class="field">
    <%= form.label :技術評価 %>
    <%= form.number_field :eval_tec %>
  </div>

  <div class="field">
    <%= form.label :調整 %>
    <%= form.number_field :adjustment %>
  </div>

  <div class="field">
    <%= form.label :時短勤務 %>
    <%= form.check_box :is_short_work %>
  </div>

  <div class="field">
    <%= form.label :定額残業時間 %>
    <%= form.number_field :overtime %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
