<p id="notice"><%= notice %></p>

<h1 class="title">職員評価項目</h1>        <!--Employee Point-->
<br>
<br>

<table>
  <thead>
    <tr>
      <th>番号</th>      <!--Emp-->
      <th>年齢調整</th>      <!--Age ad-->
      <th>ISMS</th>      <!--Isms-->
      <th>安全衛生委員</th>      <!--Health-->
      <th>小集団</th>      <!--Small group-->
      <th>経営評価</th>      <!--Eval mgm-->
      <th>技術評価</th>      <!--Eval tec-->
      <th>調整</th>      <!--Adjustment-->
      <th>時短勤務</th>      <!--Is short work-->
      <th>定額残業時間</th>      <!--Overtime-->
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.emp_id %></td>
        <td><%= point.age_ad %></td>
        <td><%= point.isms %></td>
        <td><%= point.health %></td>
        <td><%= point.small_group %></td>
        <td><%= point.eval_mgm %></td>
        <td><%= point.eval_tec %></td>
        <td><%= point.adjustment %></td>
        <td><%= point.is_short_work %></td>
        <td><%= point.overtime %></td>
        <td><%= link_to '詳しく', point %></td>
        <td><%= link_to '修正', edit_point_path(point) %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button class="center" onclick="javascript:history.back()">移転</button>   <!--back-->
