<p id="notice"><%= notice %></p>

<h1>Home</h1>

<%= form_for(@home) do |f| %>
  <%= f.label :회사 %>
  <%= f.select :branchs, :branch, ['hukuoka', 'dokyo'], {:selected=>'hukuoka'} %>

  <%= f.label :사원번호 %>
  <%= f.text_field :emp_id %>

  <%= f.submit "조회" %>
<% end %>

	<form method="get" action="/results">
        <h3>회사</h3>
        <select name='branch'>
            <option value='all' selected>All</option>
            <option value='kitakyushu'>기타큐슈</option>
            <option value='tokyo'>도쿄</option>
            <option value='fukuoka'>후쿠오카</option>          
        </select>
        <br>
        <h3>사원번호</h3>
        <input type="text" name="emp_id">
        </br>

		<br>
<!--
        <h3>기간</h3>        
            <input type="date" name="from" min="2016-03-01" max="2016-12-31">
            ~ 
            <input type="date" name="to" min="2018-03-01" max="2018-06-30">
			<br>
			<br>           -->
            <input type="submit" value="조회">
   			<br>
			<br>
            <!--<button><%= link_to 'Search', results_path %></button>-->
			<br>
			<br>
      </form> 
	<%= link_to 'Add Employee', add_employees_path %>

