<p id="notice"><%= notice %></p>

<h1 class="title">Standards</h1>



<br>

<h1>Position Std Vals</h1>

<table>
  <thead>
    <tr>
      <th>Position name</th>
      <th>Ability val</th>
      <th>Max overtime</th>
      <th>Pos val</th>
      <th>Pos inc val</th>
      <th>Pos std age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @position_std_vals.each do |position_std_val| %>
      <tr>
        <td><%= position_std_val.position_name %></td>
        <td><%= position_std_val.ability_val %></td>
        <td><%= position_std_val.max_overtime %></td>
        <td><%= position_std_val.pos_val %></td>
        <td><%= position_std_val.pos_inc_val %></td>
        <td><%= position_std_val.pos_std_age %></td>
        <td><%= link_to 'Show', position_std_val %></td>
        <td><%= link_to 'Edit', edit_position_std_val_path(position_std_val) %></td>
        <td><%= link_to 'Destroy', position_std_val, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to 'Add Position Standard Value', new_position_std_val_path %></button>

<h1>Evaluation Std Vals</h1>

<table>
  <thead>
    <tr>
      <th>Eval name</th>
      <th>Eval val</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @evaluation_std_vals.each do |evaluation_std_val| %>
      <tr>
        <td><%= evaluation_std_val.eval_name %></td>
        <td><%= evaluation_std_val.eval_val %></td>
        <td><%= link_to 'Show', evaluation_std_val %></td>
        <td><%= link_to 'Edit', edit_evaluation_std_val_path(evaluation_std_val) %></td>
        <td><%= link_to 'Destroy', evaluation_std_val, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to 'Add Evaluation Standard Value', new_evaluation_std_val_path %></button>

<h1>Task Std Vals</h1>

<table>
  <thead>
    <tr>
      <th>Task name</th>
      <th>Task val</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @task_std_vals.each do |task_std_val| %>
      <tr>
        <td><%= task_std_val.task_name %></td>
        <td><%= task_std_val.task_val %></td>
        <td><%= link_to 'Show', task_std_val %></td>
        <td><%= link_to 'Edit', edit_task_std_val_path(task_std_val) %></td>
        <td><%= link_to 'Destroy', task_std_val, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to 'Add Task Standard Value', new_task_std_val_path %></button>

<h1>Residence Std Vals</h1>

<table>
  <thead>
    <tr>
      <th>Residence name</th>
      <th>Residence spt val</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @residence_std_vals.each do |residence_std_val| %>
      <tr>
        <td><%= residence_std_val.residence_name %></td>
        <td><%= residence_std_val.residence_spt_val %></td>
        <td><%= link_to 'Show', residence_std_val %></td>
        <td><%= link_to 'Edit', edit_residence_std_val_path(residence_std_val) %></td>
        <td><%= link_to 'Destroy', residence_std_val, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to 'Add Residence Standard Value', new_residence_std_val_path %></button>

<h1>Etc Std Vals</h1>

<table>
  <thead>
    <tr>
      <th>Praise val</th>
      <th>Mon avg worktime</th>
      <th>Mon short worktime</th>
      <th>Holiday val</th>
      <th>Std salary val</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @etc_std_vals.each do |etc_std_val| %>
      <tr>
        <td><%= etc_std_val.praise_val %></td>
        <td><%= etc_std_val.mon_avg_worktime %></td>
        <td><%= etc_std_val.mon_short_worktime %></td>
        <td><%= etc_std_val.holiday_val %></td>
        <td><%= etc_std_val.std_salary_val %></td>
        <td><%= link_to 'Show', etc_std_val %></td>
        <td><%= link_to 'Edit', edit_etc_std_val_path(etc_std_val) %></td>
        <td><%= link_to 'Destroy', etc_std_val, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to 'Add Etc Standard Value', new_etc_std_val_path %></button>
<br>
<br>
<button><%= link_to 'Back', homes_path %></button>
