<p id="notice"><%= notice %></p>

<p>
  <strong>Position name:</strong>
  <%= @position_std_val.position_name %>
</p>

<p>
  <strong>Ability val:</strong>
  <%= @position_std_val.ability_val %>
</p>

<p>
  <strong>Max overtime:</strong>
  <%= @position_std_val.max_overtime %>
</p>

<p>
  <strong>Pos val:</strong>
  <%= @position_std_val.pos_val %>
</p>

<p>
  <strong>Pos inc val:</strong>
  <%= @position_std_val.pos_inc_val %>
</p>

<p>
  <strong>Pos std age:</strong>
  <%= @position_std_val.pos_std_age %>
</p>

<%= link_to 'Edit', edit_position_std_val_path(@position_std_val) %> |
<%= link_to 'Back', position_std_vals_path %>
