<p id="notice"><%= notice %></p>

<p>
  <strong>Task name:</strong>
  <%= @task_std_val.task_name %>
</p>

<p>
  <strong>Task val:</strong>
  <%= @task_std_val.task_val %>
</p>

<%= link_to 'Edit', edit_task_std_val_path(@task_std_val) %> |
<%= link_to 'Back', task_std_vals_path %>
