<p id="notice"><%= notice %></p>

<h1>職位にともなう基準</h1>       <!--Position Std Vals-->

<table>
  <thead>
    <tr>
      <th>職位</th>     <!--Position name-->
      <th>職能給</th>      <!--Ability val-->
      <th>最大残業時間</th>      <!--Max overtime-->
      <th>役職手当</th>      <!--Pos val-->
      <th>職位増額分</th>      <!--Pos inc val-->
      <th>職位基準年齢</th>      <!--Pos std age-->
      <th colspan="3"></th>   
    </tr>
  </thead>

  <tbody>
    <% @position_std_vals.each do |position_std_val| %>
      <tr>
        <td><%= position_std_val.position_name %></td>
        <td><%= position_std_val.ability_val %></td>
        <td><%= position_std_val.max_overtime %></td>
        <td><%= position_std_val.pos_val %></td>
        <td><%= position_std_val.pos_inc_val %></td>
        <td><%= position_std_val.pos_std_age %></td>
        <td><%= link_to '詳しく', position_std_val %></td>
        <td><%= link_to '修正', edit_position_std_val_path(position_std_val) %></td>
        <td><%= link_to '削除', position_std_val, method: :delete, data: { confirm: '削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '職位追加', new_position_std_val_path %>     <!--New Position Std Val-->
